#header{
    background-color: 2px 2px 2px rgba(0,0, 0,.2);
    width: 100%;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);
    color: 2px 2px 2px rgba(0,0, 0,.2);
}

.navbar{
    padding: 50px 0;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);   
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc;
    padding-left: 60px;
    padding-right: 60px;
}

.nav-link{
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;    
    padding-inline: 10;   
}

.main1{
   
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);    
}

h1{
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
}

p{
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: lowercase;
}
s{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
p1{
    font-weight: bold;
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

.main2{
   
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);    
}
.main3{
   
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);    
}

.main4{
   
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);    
}

.main5{
   
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);    
}

h2{
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
}
p5{
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
}
r{
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 11%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
}

h5{
position: absolute;
left: 5.7%;
right: 76.09%;
top: 28.48%;
bottom: 68.64%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFFFFF;
}

h2
{
    position: absolute;
    left: 15%;
    top: 31%;
    bottom: 68.64%;
    
font-family: 'Arial';
font-style: normal;
font-weight: 4000;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
    
}

.rockpaperstartegy{
position: absolute;
width: 858px;
height: 477px;
left: 453px;
top: 60px;
background: url(D:\TugasBinar\assets\rockpaperstrategy-1600.jpg);
}

.mainmain1{
    position: absolute;
    height: 73.64px;
    left: 55.25%;
    right: 16.22%;
    top: calc(50% - 73.64px/2 - 147.97px);
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.mainmain2{
    position: absolute;
height: 73.64px;
left: 55.25%;
right: 16.22%;
top: 30%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}

.mainmain3{
    position: absolute;
width: 348.2px;
height: 38.23px;
left: 809.29px;
top: 300.6px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 2px;

color: #FFB548;

}

.mainmain4{
    position: absolute;
width: 348.2px;
height: 38.23px;
left: 870.29px;
top: 325.6px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
/* or 122% */

text-align: justify;

color: #FFFFFF;
}

.mainmain5{
    position: absolute;
width: 366.44px;
height: 38.23px;
left: 870.04px;
top: 400.45px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;
}

.mainmain6{
   
        position: absolute;
    width: 366.44px;
    height: 38.23px;
    left: 870.04px;
    top: 470.45px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    
    color: #FFB548;
    }

    .mainmain7{
        position: absolute;
left: 39.27%;
right: 36.26%;
top: 30px;
bottom: 82%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 2px;

color: #FFFFFF;
    }

.mainmain8{
        position: absolute;
height: 73.64px;
left: 9.02%;
right: 47.07%;
top: 100px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
    }

.maintable9{
    position: absolute;
width: 573.2px;
height: 400.69px;
left: 120.22px;
top: 220.5px;

border: 1px solid #979797;


}

.os{
    position: absolute;
left: 9.67%;
right: 72.19%;
top: 35.02%;
bottom: 55.1%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */

letter-spacing: 2px;

color: #FFB548;
}

.os1{
    position: absolute;
left: 9.67%;
right: 72.47%;
top: 39.58%;
bottom: 49.74%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 122% */


color: #FFFFFF;
}

.pro{
    position: absolute;
left: 29%;
right: 72.19%;
top: 35.02%;
bottom: 55.1%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */

letter-spacing: 2px;

color: #FFB548;
}

.pro1{
    position: absolute;
left: 28.83%;
right: 53.27%;
top: 39.57%;
bottom: 48.77%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 122% */


color: #FFFFFF;
}

.baris{
    position: absolute;
width: 572.85px;
height: 0px;
left: 120.57px;
top: 350.78px;

border: 1px solid #979797;
}

.baris1{
    position: absolute;
width: 572.85px;
height: 0px;
left: 120.57px;
top: 500.78px;

border: 1px solid #979797;
}

.barist{
    position: absolute;
width: 0px;
height: 282px;
left: 380.03px;
top: 220.5px;

border: 1px solid #979797;
}

.memo{
    position: absolute;
left: 10%;
right: 72.8%;
top: 55.11%;
bottom: 42.01%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */

letter-spacing: 2px;

color: #FFB548;
}

.ram{
    position: absolute;
left: 10%;
right: 82.72%;
top: 60%;
bottom: 38.38%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: justify;

color: #FFFFFF;
}

.stor{
    position: absolute;
left: 28.83%;
right: 53.03%;
top: 55.11%;
bottom: 42.01%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */

letter-spacing: 2px;

color: #FFB548;
}

.stor1{
    position: absolute;
left: 28.83%;
right: 57.87%;
top: 60%;
bottom: 36.66%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* or 122% */


color: #FFFFFF;

}

.grap{
    position: absolute;
left: 10%;
right: 72.8%;
top: 78%;
bottom: 27.86%;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */

letter-spacing: 2px;

color: #FFB548;
}

.grap1{
    position: absolute;
    left: 10%;
    right: 55.27%;
    top: 83%;
    bottom: 21.56%;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    
    
    color: #FFFFFF;
}

.evl{
    box-sizing: border-box;

position: absolute;
left: 60.26%;
right: 8.31%;
top: 20%;
bottom: 64.37%;

background: rgba(255, 255, 255, 0.08);
border-radius: 10px;
}

.jg{
    box-sizing: border-box;

position: absolute;
left: 50.12%;
right: 18.36%;
top: 38.76%;
bottom: 39.89%;

background: rgba(255, 255, 255, 0.08);
border-radius: 10px;
}

.aw{
    box-sizing: border-box;

position: absolute;
left: 57.46%;
right: 11.02%;
top: 63.23%;
bottom: 15.41%;

background: rgba(255, 255, 255, 0.08);
border-radius: 10px;
}

